/*Top bar Container*/

#topbar-container {
    width: 100%;
    height: 80px;
    background-color: var(--back_black);
    position: fixed;
    z-index: 2;
}

#name-container {
    width: 600px;
    height: 100%;
    margin: 0 50px 0 50px;
    float: left;
    color: var(--text_white);
}

h1 {
    font-family: "Raleway";
    font-size: 16pt;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
    margin-top: 5px !important;
}

#name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Back Button*/

#back-button {
    width: 230px;
    height: 100%;
    float: left;
}

#back-button-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
}

#go-back {
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: "Raleway", "Sans-Serif";
    font-size: 20px;
}

#go-back:hover {
    cursor: pointer;
}

#back-image {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 2px;
}

#logo-image {
    width: 130px !important;
    float: right !important;
}


/*Content Container*/

#content-container {
/*    height: 700px;*/
    top: 80px;
    background-color: var(--back_white);
}

.height-agent {
    height: 100%; !important;
}

#content-div {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-family: sans-serif;
    padding: 20px;
}

/*Description Text*/

#description-items {
    font-family: "Lato", sans-serif;
    color: var(--lightgray);
    height: 20px;
    margin-bottom: 30px;
}

#error-veg-non {
    float: right;
    color: red;
    display: none;
}


/*Form Setting for All Pages*/

#form-container {
    width: 600px;
    height: 350px;
    margin: 0 auto;
    margin-top: 30px;
}

th {
    text-align: right;
}

td {
    text-align: right;
}

input[type=text], select {
    width: 250px;
    border: 1px solid #ccc;
    height: 28px;
    padding: 0 8px 2px 8px;
    font-size: 14px;
}

input[type=submit] {
    width: 140px;
    height: 28px;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--green);
    color: var(--text_white);
}

input[type=submit]:hover {
    outline: 0;
}

input[type=submit]:hover {
    cursor: pointer;
    opacity: 0.8;
}

textarea {
    width: 250px;
    border: 1px solid #ccc;
    padding: 8px 8px 8px 8px;
    font-size: 14px;
}

textarea:focus {
    outline: 2px solid var(--redbrick);
}


/*Form for Adding New Food Item*/

#food-item-table {
    width: 480px;
    height: 260px;
}

#item_price {
    padding-left: 30px;
    background: url(images/india.png) no-repeat 8px 7px #fff;
    background-size: 12px;
}

#thali_price {
    padding-left: 30px;
    background: url(images/india.png) no-repeat 8px 7px #fff;
    background-size: 12px;
}

/*Form for Adding New Cuisine*/

#cuisine-table {
    width: 480px;
    height: 200px;
}

/*Form for Adding New Thali*/

#thali-table {
    width: 500px;
    height: 300px;
}

#label-desc {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


/*_____________________________________________________________*/

/*Adding Items to Combo and Today's Special*/

#search-bar-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#all-item-text {
    font-size: 35px;
    font-family: "gothic", sans-serif;
    color: var(--cart_faded);
}

#select-label {
    margin-top: 8px;
    margin-right: 14px;
    float: left;
    font-size: 17px;
    font-weight: bold;
}

#search-items {
    float: left;
    width: 480px;
    height: 34.5px;
    font-size: 15px;
    padding-top: 1px;
    padding-left: 40px;
    padding-right: 10px;
    background: url(images/search.png) no-repeat 10px 8px #fff;
    background-size: 18px;
    margin-top: 0.5px;
}

#search {
    width: 120px;
    height: 35px;
    color: var(--text_white);
    background-color: var(--redbrick);
    font-size: 15px;
    border: 0;
}


/*Items View Style*/

#items-view-container {
    height: 590px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#item-view {
    width: 750px;
    height: 100%;
    border: 1px solid #ccc;
    padding: 0 14px 15px 14px;
    overflow: auto;
}

.cuisine-heading {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "gothic", sans-serif;
    font-size: 18px;
    color: var(--lightgray);
    margin-top: 30px;
}

.single-item-view {
    height: 60px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 15px;
}

.name-initial {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text_white);
    float: left
}

.name-and-price {
    width: 480px;
    height: 100%;
    float: left;
    margin-left: 15px;
}

.item-name {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    margin-top: 2px;
}

.amount {
    font-size: 14px;
    color: gray;
    font-family: sans-serif;
    margin-top: 0;
}

.add-button-container {
    width: 140px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-button {
    width: 80px;
    height: 30px;
    color: var(--text_white);
    background-color: darkorange;
    font-size: 12px;
    border-radius: 4px;
    border: 0;
}

/*Sidebar Combo Style*/

#combo-sidebar {
    width: 390px;
    height: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
}

.combo-font {
    font-size: 28px !important;
}

#combo-desc {
    width: 100%;
    height: 150px;
    margin-top: 20px;
}

.textfield-container {
    width: 100%;
    height: 55px;
    margin: 8px 5px 20px 0;
    border: 1px solid dimgray;
}

.textfield-header {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    background-color: var(--back_white);
    color: dimgray;
    padding: 0 4px;
    position: relative;
    right: -5px;
    top: -11px;
}

.combo-name-style {
    height: 30px;
    width: 345px !important;
    margin: 2px 4px;
    position: relative;
    margin-top: -5px;
    top: -5px;
    font-size: 15px !important;
    background-color: var(--back_white);
    border: 0 !important;
    border-bottom: 1px solid #ccc !imporatnt;
}

.combo-name-style:focus {
    outline: 0 !important;
}

.rupee {
    padding-left: 30px !important;
    background: url(images/india.png) no-repeat 8px 6px transparent;
    background-size: 16px;
}

#selected-item {
    width: 100%;
    height: 265px;
    border: 1px solid dimgray;
    padding: 0 0px 10px 10px;
}

.left-space {
    left: -5px;
}

#error {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
}

#added-items {
    width: 100%;
    height: 230px;
    overflow: auto;
}

.side-bar-single-item {
    width: 100%;
    height: 55px;
    margin-bottom: 8px;
    padding: 5px 0 0 0;
}

.name-and-option {
    width: 260px;
    height: 100%;
    margin-left: 10px;
    float: left;
    border-bottom: 1px solid #ccc;
}

.equal-spacing {
    display: flex;
    justify-content: space-between;
}

.delete-button {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left: 15px;
}

.delete-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#total-amount {
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-family: "gothic";
    align-items: center;
}

.side-bar-add-button {
    width: 100% !important;
    height: 44px !important;
    color: var(--text_white);
    background-color: gray;
    font-size: 16px !important;
    border-radius: 4px;
    border: 0;
}

.side-bar-add-button:focus, print_summary_button:focus {
    outline: 0;
}

.print_summary_button {
    width: 100% !important;
    height: 44px !important;
    color: var(--text_white);
    background-color: green;
    font-size: 16px !important;
    border-radius: 4px;
    border: 0;
}

.back_to_main_page_button {
    width: 200px !important;
    height: 40px !important;
    color: var(--text_white);
    background-color: darkslateblue;
    font-size: 16px !important;
    border-radius: 4px;
    border: 0;
}



/*________________________________________________________*/

/*Todays Special Sidebar Style*/

.todays-special-font {
    font-size: 24px !important;
}

.todays-special-items {
    height: 445px !important;
}

.items_ordered {
    height: 460px !important;
}

.height {
    height: 0 !important;
}

/*________________________________________________________*/

/*Show all Combo CSS Style*/
#combo-view {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    padding: 15px 14px;
    overflow: auto;
}

.single-combo-view {
    height: 65px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 15px;
}

.name-and-items {
    width: 940px;
    height: 100%;
    float: left;
    margin-left: 15px;
    font-family: "Lato", sans-serif;
}

.combo-name {
    font-size: 16px;
    margin-top: 2px;
    font-family: "Lato_bold", sans-serif !important;
}

.delete-button-container {
    width: 80px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/*_________________________________________________________*/

/*Adding Agent CSS Style*/

#label-address {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}